<br />
<h2>Article details</h2>
<p>Here you can read and discuss the article</p><hr/>

<%= @row['articleText'] %><br /><br />
<span style="font-size: 85%; color: #999; font-style: italic;">added to: <%= @row['createdDate'] %> •</span>
<span style="font-size: 85%; color: #999; font-style: italic;">author is: <%= @row['authorName'] %> •</span>
<a href="/details/<%= @row['id'] %>" style="font-size: 85%; font-style: italic;">Details</a>
<hr />