<br />
<h2>Adding a new article</h2>
<p>It is the anvil on which the thoughts are made in the text that you want to read</p><hr/>

<form action="/newpost" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Author name</label>
    <input name="authorName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter author name" value="<%= @authorName %>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Article text</label>
    <textarea name="articleText" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Enter article text"><%= @articleText %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>